@page "/home"

<PageTitle>Home</PageTitle>

<div class="header">
    <h1 class="hr-title">HR Management System</h1>
    <button class="notification-bell" @onclick="ToggleSidebar">
        <i class="bi bi-bell"></i>
    </button>
</div>

<h2 class="hr-paragraph">Select an action below</h2>

@if (worker != null)
{
    <h2 class="hr-paragraph">Welcome, {@worker.Name}.</h2>
}

<div class="button-container">
    @if (IsWorkerManager() || authorizationService.CurrentAdmin != null)
    {
        <button class="btn btn-secondary" @onclick="@(_ => NavigationManager.NavigateTo("/view"))">View Pending Applications</button>
        <button class="btn btn-success" @onclick="@(_ => NavigationManager.NavigateTo("/create"))">Create New Worker</button>
        <button class="btn btn-secondary" @onclick="@(_ => NavigationManager.NavigateTo("/create-job-role"))">Create New Job Role</button>
    }

    @if (authorizationService.CurrentAdmin != null)
    {
        <button class="btn btn-info" @onclick="@(_ => NavigationManager.NavigateTo("/company"))">View Company Details</button>
    }
    else
    {
        <button class="btn btn-info" @onclick="@(_ => NavigationManager.NavigateTo("/request"))">Request Leave</button>
        <button class="btn btn-info" @onclick="@(_ => NavigationManager.NavigateTo("/worker"))">View Worker Details</button>
        <button class="btn btn-primary" @onclick="@(_ => NavigationManager.NavigateTo("/apply"))">Apply for a job</button>
    }
</div>

@if (isSidebarOpen)
{
    <div class="sidebar">
        <button class="close-btn" @onclick="ToggleSidebar">&times;</button>
        <h3>Notifications</h3>
        <ul>
            @if (notifications != null && notifications.Any())
            {
                @foreach (string notification in notifications)
                {
                    <li>@notification</li>
                }
            }
            else
            {
                <li>No new notifications</li>
            }
        </ul>
    </div>
}

@if (showErrorMessage)
{
    <p class="error">@errorMessage</p>
}