@page "/apply"

<h3 class="header-text" style="text-align: center;">Job Apply Page</h3>

@if (_showErrorMessage)
{
    <p style="color: red; text-align: center;">@_errorMessage</p>
}

@if (!_submitted)
{
    <form class="form-submit">
        <label class="label-input" for="name">Name:</label>
        <input class="input-box" type="text" id="name" @bind-value="@_name" />

        <label class="label-input" for="phone">Phone Number:</label>
        <input class="input-box" type="tel" id="phone" @bind-value="@_phoneNumber" />

        <label class="label-input" for="description">Description:</label>
        <textarea class="description-box" id="description" @bind="@_description" rows="5"></textarea>

        <label class="label-input" for="jobRole">Job Role:</label>
        <select class="input-box" id="jobRole" @bind="@_selectedJobRole">
            @foreach (var role in _jobRoles)
            {
                <option value="@role.Id">@role.JobTitle</option>
            }
        </select>

        <button class="submit-button" @onclick="SubmitForm" type="button">Submit</button>
    </form>
}
else
{
    <h1 style="text-align: center; margin-top: 50px;">Application Submitted</h1>
    <p style="text-align: center; font-size: 20px;">Thank you for submitting your job application!</p>

    <div style="text-align: center; margin-top: 30px;">
        <button @onclick="@(_ => NavigationManager.NavigateTo("/home"))" style="padding: 10px 20px; font-size: 16px; cursor: pointer;">
            Return to Home
        </button>
    </div>
}
