@page "/worker"

<h3 class="title">Worker Details</h3>

<div class="main-container">
    @if (CurrentWorker != null)
    {
        <div class="worker-details">
            <p><strong>Worker Name:</strong> @CurrentWorker.Name</p>
            <p><strong>Worker Number:</strong> @CurrentWorker.WorkerNumber</p>
            <p><strong>Manager:</strong> @(CurrentWorker.Manager ? "Yes" : "No")</p>
            <p><strong>Country:</strong> @CurrentWorker.Country</p>
@*             <p><strong>Job Role:</strong> @(CurrentWorker.JobRole.ToString() ?? "N/A")</p>
 *@            <p><strong>Company ID:</strong> @CurrentWorker.CompanyId</p>
        </div>
    }
    else
    {
        <p class="message">@Message</p>
    }

    <div class="button-container">
        <button class="btn btn-primary" @onclick="@(_ => NavigationManager.NavigateTo("/home"))">Go to Home</button>
    </div>
</div>
